<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated WorkflowGraph -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="unicam.workflowgraph.presentation.WorkflowgraphModelWizardID"
            name="%_UI_WorkflowgraphModelWizard_label"
            class="unicam.workflowgraph.presentation.WorkflowgraphModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WorkflowgraphModelFile.gif">
         <description>%_UI_WorkflowgraphModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated WorkflowGraph -->
      <editor
            id="unicam.workflowgraph.presentation.WorkflowgraphEditorID"
            name="%_UI_WorkflowgraphEditor_label"
            icon="icons/full/obj16/WorkflowgraphModelFile.gif"
            extensions="workflowgraph"
            class="unicam.workflowgraph.presentation.WorkflowgraphEditor"
            contributorClass="unicam.workflowgraph.presentation.WorkflowgraphActionBarContributor">
      </editor>
   </extension>

</plugin>
