<?xml version="1.0" encoding="UTF-8"?>
<!--


    Copyright (C) 2012  Midhat Ali, Andrea Polini, Guglielmo De Angelis

    This file is part of ServicePot ver 0.1 .

    ServicePot is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with ServicePot.  If not, see <http:www.gnu.org/licenses/>.

-->
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:jaxws="http://cxf.apache.org/jaxws"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

  <import resource="classpath:META-INF/cxf/cxf.xml" />
  <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

 <jaxws:endpoint id="choreos-publish" implementor="eu.choreos.registry.services.CHOReOSPublish" address="/choreos-publish">
    <jaxws:properties>
      <entry key="schema-validation-enabled" value="true"/>
    </jaxws:properties>
  </jaxws:endpoint>
  
 <jaxws:endpoint id="choreos-inquiry" implementor="eu.choreos.registry.services.CHOReOSInquiry" address="/choreos-inuiry">
    <jaxws:properties>
      <entry key="schema-validation-enabled" value="true"/>
    </jaxws:properties>
  </jaxws:endpoint>
  
 <jaxws:endpoint id="custody-transfer" implementor="eu.choreos.registry.proxy.UDDICustodyTransferPortTypeImpl" address="/custody-transfer">
    <jaxws:properties>
      <entry key="schema-validation-enabled" value="true"/>
    </jaxws:properties>
  </jaxws:endpoint>
  
  <jaxws:endpoint id="inquiry" implementor="eu.choreos.registry.proxy.UDDIInquiryPortTypeImpl" address="/inquiry">
    <jaxws:properties>
      <entry key="schema-validation-enabled" value="true"/>
    </jaxws:properties>
  </jaxws:endpoint>
  
  <jaxws:endpoint id="publish" implementor="eu.choreos.registry.proxy.UDDIPublicationPortTypeImpl" address="/publish">
    <jaxws:properties>
      <entry key="schema-validation-enabled" value="true"/>
    </jaxws:properties>
  </jaxws:endpoint>
  
  <jaxws:endpoint id="security" implementor="eu.choreos.registry.proxy.UDDISecurityPortTypeImpl" address="/security">
    <jaxws:properties>
      <entry key="schema-validation-enabled" value="true"/>
    </jaxws:properties>
  </jaxws:endpoint>
  
  <jaxws:endpoint id="subscription-listener" implementor="eu.choreos.registry.proxy.UDDISubscriptionListenerPortTypeImpl" address="/subscription-listener">
    <jaxws:properties>
      <entry key="schema-validation-enabled" value="true"/>
    </jaxws:properties>
  </jaxws:endpoint>
  
  <jaxws:endpoint id="subscription" implementor="eu.choreos.registry.proxy.UDDISubscriptionPortTypeImpl" address="/subscription">
    <jaxws:properties>
      <entry key="schema-validation-enabled" value="true"/>
    </jaxws:properties>
  </jaxws:endpoint>

</beans>
